<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>event status sections</title>
</head>
<body>
	<div th:fragment="my_events_status">
		<div>
			<div class="row">
				<label>YOUR EVENTS WAITING FOR ACCEPTATION:</label>
			</div>
			<div class="row"
				th:each="currentEvent , event : ${myEvents.eventslist}">

				<div class="col-sm-10">
					<div class="row" th:classappend="${currentEvent.eventStatus}">
						<label class="col-sm-3" th:text="${currentEvent.username}"></label>
						<label class="col-sm-3" th:text="${currentEvent.date}"></label> <label
							class="col-sm-3" th:text="${currentEvent.eventType}"></label> <label
							class="col-sm-3" th:text="${currentEvent.eventStatus}"></label>
					</div>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</div>
	</div>
	<div th:fragment="superior_events_status">
		<div>
			<div class="row">
				
					<label>EVENTS FOR ACCEPTATION:</label>
				
			</div>
			<div class="row"
				th:each="currentEvent , event : ${events.eventslist}">
				<div class="col-sm-10">
					<div class="row" th:classappend="${currentEvent.eventStatus}">
						<label class="col-sm-3" th:text="${currentEvent.username}"></label>
						<label class="col-sm-3" th:text="${currentEvent.date}"></label> <label
							class="col-sm-3" th:text="${currentEvent.eventType}"></label> <label
							class="col-sm-3" th:text="${currentEvent.eventStatus}"></label>
					</div>
				</div>
				<div class="col-sm-1">
					<form method="POST" action="" th:object="${updated}">
						<textarea th:field="*{Id}" th:text="${currentEvent.Id}"
							hidden="true"></textarea>
						<textarea hidden="true" th:field="*{eventStatus}"
							th:text="${accepted}"></textarea>
						<button type="submit" class="subbutton red">Accept</button>
					</form>
				</div>
				<div class="col-sm-1">
					<form method="POST" action="" th:object="${updated}">
						<textarea hidden="true" th:field="*{Id}"
							th:text="${currentEvent.Id}"></textarea>
						<textarea hidden="true" th:field="*{eventStatus}"
							th:text="${rejected}"></textarea>
						<button type="submit" class="subbutton red">Reject</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>