.subbutton {
  width: 100%;
  border: 0;
  color: white;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; }

.red {
  background-color: #f44336; }

.red:hover {
  background-color: red; }

.blue:hover {
  background-color: #3696f9; }

.blue {
  background-color: #003366; }

.grey {
  background-color: dimgrey; }

.grey:hover {
  background-color: grey; }

.event-HOMEWORK {
  background-color: mediumvioletred; }

.event-NO_EVENT {
  background-color: gainsboro; }

.event-VACATION {
  background-color: greenyellow; }

.event-SICK_LEAVE {
  background-color: deepskyblue; }

.event-TRAINING {
  background-color: yellow; }

.registrationform {
  background-color: #003366;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 25px;
  margin-top: 20px;
  width: 300px;
  z-index: 15;
  top: 50%;
  left: 50%;
  /*margin: -400px 0 0 -400px;*/ }

input {
  padding-left: 20px;
  width: 100%;
  border: 0;
  font-size: 14px;
  height: 45px;
  background-color: #F2F2F2; }

/*.subbutton {
    width: 100%;
    border: 0;
    color: white;
    padding: 14px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.red {
    background-color: #f44336;
}

.red:hover {
    background-color: red;
}*/
textarea {
  border: 0px;
  resize: none;
  width: 100%;
  padding: 20px; }

.inputrow {
  margin-bottom: 10px;
  margin-top: 10px; }

.ownerName {
  background-color: #f2f2f2;
  color: black;
  width: 100%; }

/*.ownernameinput {
    display: none;
}*/
.error {
  color: red;
  background-color: lightcoral;
  width: 100%; }

option {
  padding: 10px;
  border: 0;
  font-size: 14px;
  height: 45px;
  background-color: #F2F2F2; }

select {
  background-color: #f2f2f2;
  width: 100%;
  height: 45px;
  border: 0; }

select {
  /*for firefox*/
  -moz-appearance: none;
  /*for chrome*/
  -webkit-appearance: none; }

/*for IE10*/
select::-ms-expand {
  display: none; }

.inputrow label {
  color: white;
  vertical-align: middle; }
