.subbutton {
  width: 100%;
  border: 0;
  color: white;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; }

.red {
  background-color: #f44336; }

.red:hover {
  background-color: red; }

.event-HOMEWORK {
  background-color: mediumvioletred; }

.event-NO_EVENT {
  background-color: gainsboro; }

.event-VACATION {
  background-color: greenyellow; }

.event-SICK_LEAVE {
  background-color: deepskyblue; }

.event-TRAINING {
  background-color: yellow; }

label {
  padding: 20px;
  margin-bottom: 5px; }

textarea {
  resize: none;
  width: 100%; }

.footer {
  margin-bottom: 50px; }
