.subbutton {
  border-color: gray;
  width: 100%;
  height: 100px;
  border: none;
  color: white;
  padding-left: 30px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 5px; }

.green {
  background-color: forestgreen; }

.green:hover {
  background-color: green; }

#headertitle {
  background-color: transparent; }

.blue:hover {
  background-color: #3696f9; }

.blue {
  background-color: #003366; }

#bg {
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%; }

/*.glyphicon {
    padding-right: 20px;
    font-size: 30px;
}*/
