.navbar {
  background-color: #003366;
  border-radius: 0px;
  border-color: none;
  margin-bottom: 0px; }

nav li:hover {
  background-color: #3894f5; }

.navbar-inverse .navbar-nav > li > a {
  color: white; }

.navbar-inverse .navbar-brand {
  color: white; }

.navbar-inverse {
  border-style: none; }
