.subbutton {
  width: 100%;
  border: 0;
  color: white;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; }

.red {
  background-color: #f44336; }

.red:hover {
  background-color: red; }

.blue:hover {
  background-color: #3696f9; }

.blue {
  background-color: #003366; }

.grey {
  background-color: dimgrey; }

.grey:hover {
  background-color: grey; }

.event-HOMEWORK {
  background-color: mediumvioletred; }

.event-NO_EVENT {
  background-color: gainsboro; }

.event-VACATION {
  background-color: greenyellow; }

.event-SICK_LEAVE {
  background-color: deepskyblue; }

.event-TRAINING {
  background-color: yellow; }

.userinfo {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 16px; }

label {
  padding: 5px; }

.weekevents > label {
  text-align: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px; }

.rowname {
  padding-right: 30px; }

.rowname > label {
  color: #23527c; }

.statistics_table > tr {
  text-align: center; }

.titlebar {
  color: white;
  background-color: #003366; }

.titlebar > label {
  color: white;
  background-color: #003366; }

.statisticstable {
  width: 100%; }

.statisticstable tr td {
  text-align: center; }

img {
  padding-top: 20px; }
