.mycontainer {
  margin-right: auto;
  margin-left: auto; }

input {
  visibility: hidden;
  text-align: center; }

label {
  cursor: pointer;
  font-family: Arial;
  font-size: 16px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px; }

/*input[type="radio"]:checked+label {
    background-color: lightblue;
}*/
.datename {
  width: 250px;
  text-align: center;
  background-color: lightgrey; }

.dayofweek-form-6 {
  background-color: lightcoral; }

.dayofweek-form-7 {
  background-color: lightcoral; }

.footer {
  padding: 50px; }

ul {
  display: table; }

li {
  vertical-align: middle;
  display: table-cell; }

.event-HOMEWORK:checked + label {
  background-color: mediumvioletred; }

.event-NO_EVENT:checked + label {
  background-color: gainsboro; }

.event-VACATION:checked + label {
  background-color: greenyellow; }

.event-SICK_LEAVE:checked + label {
  background-color: deepskyblue; }

.event-TRAINING:checked + label {
  background-color: yellow; }

.weekend {
  background-color: dodgerblue;
  color: silver;
  width: 100%;
  height: 100%; }

.weekend label {
  cursor: default;
  padding-left: 0px;
  padding-right: 0px;
  width: 200px;
  min-width: 200px;
  background-color: dodgerblue; }

/*.weekend div {
    visibility: hidden;
}*/
.datecell {
  font-size: 12px;
  background-color: #333;
  width: 100%;
  text-align: center; }

.datecell label {
  cursor: default;
  background-color: #333;
  color: #fff; }

.subbutton {
  width: 100%;
  border: none;
  color: white;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px; }

.red {
  background-color: #f44336; }

.red:hover {
  background-color: red; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }
