<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/adminpanel.css" />
<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<link rel="stylesheet" type="text/css" href="/css/jumbotron.css" />
<title>Administration panel</title>
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<h1>Administration panel</h1>
			<p th:text="'Welcome, ' + ${name}">Welcome!</p>
		</div>
	</div>
	<div th:replace="fragments/navbar :: header">...</div>
	<div class="container">
	<!-- 	<div>
			<form th:object="${removedBoard}" th:each="board : ${boardList}" 
				method="POST" action="">
				<table>
					<tr>
						<td th:text="${board.name}">Name of board</td>
						<td><textarea th:text="${board.name}" 
								th:field="*{name}"></textarea></td>
						<td><button type="submit">Remove</button></td>
					</tr>
				</table>
			</form>
		</div>  -->
		<div>
			<table>
				<tr class="row">
					<td class="col-sm-1"></td>
					<td class="col-sm-2">Username</td>
					<td class="col-sm-3">Email</td>
					<td class="col-sm-2">Role</td>
					<td class="col-sm-2">Superior</td>
					<td class="col-sm-1">Action</td>
					<td class="col-sm-1"></td>
				</tr>
			</table>
			<form th:object="${removedUser}" method="POST" action="" th:each="user : ${userList}">
				<table>
					<tr class="row" >
						<td class="col-sm-1"></td>
						<td class="col-sm-2" th:text="${user.name}">Username</td>
						<td hidden="true"><textarea th:text="${user.name}"
								hidden="true" th:field="*{name}"></textarea></td>
						<td class="col-sm-3" th:text="${user.email}">Email</td>
						<td class="col-sm-2" th:text="${user.role}">Role</td>
						<td class="col-sm-2" th:text="${user.superior}">Superior</td>
						<td hidden="true"><textarea th:text="${user.id}"
								hidden="true" th:field="*{id}"></textarea>id</td>
						<td class="col-sm-1"><button class="subbutton red"
								type="submit">Remove</button></td>
						<td class="col-sm-1"></td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>
</html>