<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<link rel="stylesheet" type="text/css" href="/css/jumbotron.css" />
<link rel="stylesheet" type="text/css" href="/css/teamboard.css" />
<title>Team board</title>
</head>
<body>
	<div class="teamnamecontainer row" th:object="${events}">
		<p class="col-sm-10" th:text="${events.getBoardName()}"></p>
		<p class="col-sm-2" th:text="'Week: ' + ${weekNumber}"></p>
	</div>
	<div th:if="${logged} == false">
		<div th:replace="fragments/navbar :: header">...</div>
	</div>
	<div th:unless="${logged} == false">
		<div th:replace="fragments/navbar :: header_logged">...</div>
	</div>
	<div class=" boardcontainer">
		<th:block th:object="${events}">
			<div class="row">
				<div class="col-sm-2 dayname-cell">
					<p>MEMBERS</p>
				</div>
				<div class="col-sm-1 dayname-cell" th:object="${week}"
					th:each="day : ${week}">
					<p th:text="${day}"></p>
				</div>
			</div>
			<div class="row row-small-padding" th:each="user : ${events.getBoardMembers()}">
				<div class="col-sm-2 user-cell">
					<div class="col-sm-6">
						<img height="120" width="120" alt="user"
							th:src="@{'/avatar/'+${user.name}}" />
					</div>
					<div class="col-sm-6">
						<p th:text="${user.name}">username</p>
					</div>
				</div>
				<div class="col-sm-1 event" th:each="day : ${events.week}"
					th:classappend="${events.isEventToday(day) ? 'today' : 'test'}">
					<div th:each="event : ${events.getEventsBySpecificDate(day)}">
						<label th:if="${event.username == user.name}"
							th:classappend="'event-' + ${event.eventType}"
							th:text="${event.eventType}">eventType</label>
					</div>
				</div>
			</div>
		</th:block>
	</div>
	<div class="container">
		<p>
			<a th:href="@{'/board/'+${boardname}}">5 days version</a>
		</p>
	</div>
</body>
</html>
