<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<link rel=" stylesheet" type="text/css" href="/css/details.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<link rel="stylesheet" type="text/css" href="/css/jumbotron.css" />
<title>Update profile</title>
</head>
<body>
	<div class="jumbotron">
		<div class="container" th:object="${user}">
			<div class="col-sm-2">
				<div>
					<img alt="user" th:src="@{'/avatar/'+${user.name}}" width="160"
						height="160" />
				</div>
			</div>
			<div class="col-sm-3">
				<h1 th:text="${user.name}">user name</h1>
				<p>details page</p>
			</div>
		</div>
	</div>
	<div th:replace="fragments/navbar :: header">...</div>
	<div>
		<div th:if="${reason} != null"
			class="alert alert-success alert-dismissable">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">X</a>
			<strong th:text="${reason}">Success!</strong>
		</div>
		<div class="col-sm-3 menuframe">
			<form method="GET" th:action="@{'/user/'+${user.name}+'/events'}">
				<button type="submit" class="subbutton green">ADD EVENTS</button>
			</form>
			<form method="GET" th:action="@{'/board/addboard'}">
				<button type="submit" class="subbutton green">CREATE BOARD</button>
			</form>
			<form method="GET" th:action="@{'/user/'+${user.name}+'/profile'}">
				<button type="submit" class="subbutton green">UPDATE
					PROFILE</button>
			</form>
			<form method="GET" th:action="@{/upload}">
				<button type="submit" class="subbutton green">UPDATE AVATAR</button>
			</form>
			<form method="GET" th:action="@{'/eventstatus/'+${user.name}}">
				<button type="submit" class="subbutton green">EVENT STATUS</button>
			</form>
		</div>
		<div class="col-sm-8 contentframe">
			<div class="boardsframe">
				<div th:object="${user.boards}" th:unless="${list.isEmpty()}">
					<table>
						<tr class="columnnames">
							<td class="col-sm-3"><label>Board name</label></td>
							<td class="col-sm-4"><label>Members</label></td>
							<td class="col-sm-4"><label>Description</label></td>
							<td class="col-sm-1"><label>Action</label></td>
						</tr>
						<th:block th:each="board : ${list}">
							<tr class="memberscell">
								<td class="col-sm-3"><label th:text="${board.name}"></label></td>
								<td class=" col-sm-4"><label
									th:each="member : ${board.members}"
									th:text="${member.name} + ' '"></label></td>
								<td class="col-sm-4"><label th:text="${board.description}"></label></td>
								<td class="col-sm-1 ">
									<form action="" method="POST" th:object="${selectedboard}">
										<textarea hidden="true" th:field="*{name}"
											th:text="${board.name}"></textarea>
										<button type="submit" class="subbutton green">Submit</button>
									</form>
								</td>
							</tr>
						</th:block>
					</table>
				</div>
			</div>
			<div class="boardsframe">
				<div th:object="${user}" th:unless="${user.boards.isEmpty()}">
					<table>
						<tr>
							<td><label>Your boards:</label></td>
						</tr>
						<tr class="columnnames ">
							<td class="col-sm-3"><label>Board name</label></td>
							<td class="col-sm-4"><label>Members</label></td>
							<td class="col-sm-2"><label>Description</label></td>
							<td class="col-sm-3"><label>Action</label></td>
						</tr>
						<tr class=" memberscell" th:each="board : ${user.boards}">
							<td class="col-sm-3"><label th:text="${board.name}">board
									name</label></td>
							<td class=" col-sm-3"><label
								th:each="member : ${board.members}"
								th:text="${member.name} + ' '"></label></td>
							<td class="col-sm-3"><label th:text="${board.description}"></label>
							</td>
							<td class="col-sm-3">
								<div class="row">
									<div class="col-sm-5">
										<form method="GET" th:action="@{'/board/' + ${board.name}}">
											<button type="submit" class=" subbutton green">Visit</button>
										</form>
									</div>
									<div class="col-sm-2"></div>
									<div class="col-sm-5">
										<form method="POST" th:object="${selectedboard}">
											<textarea hidden="true" th:field="*{name}"
												th:text="${board.name}"></textarea>
											<button type="submit" class="subbutton red">Unsubscribe</button>
										</form>
									</div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<div class="col-sm-1"></div>
	</div>
</body>
</html>