<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<title>Error page</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<div class="jumbotron">
		<div class="container"><h1>Upss...</h1></div>
	</div >
	<div class="container">
	<h2>Something is not quite right...</h2>
	<p style="color:red; font-size: 16px;" th:text="${reason}">error reason</p>
	
	<h3>
		<a th:href="@{/home}">Take me  back  to home page.</a>
	</h3>
	</div>
</body>
</html>