<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Event status</title>
<link rel="stylesheet" type="text/css" href="/css/eventstatus.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<link rel="stylesheet" type="text/css" href="/css/jumbotron.css" />
</head>
<body>
	<div class="jumbotron">
		<div class="container ">
			<h1>Events status</h1>
		</div>
	</div>
	<div th:replace="fragments/navbar :: header_logged">...</div>
	<div th:if="${userRole} == 'LINE_MANAGER'" class="container">
		<div
			th:replace="fragments/eventstatussection :: superior_events_status">
		</div>
	</div>
	<div class="container">
		<div th:replace="fragments/eventstatussection :: my_events_status">
		</div>
	</div>
</body>
</html>