<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<link rel="stylesheet" type="text/css" href="/css/jumbotron.css" />
<link rel="stylesheet" type="text/css" href="/css/home.css" />
<title>Team Calendar</title>
</head>
<body>
	<div>
		<div class="jumbotron">
			<div class="container">
				<div sec:authorize="!isAuthenticated()">
					<h1>Welcome!</h1>
				</div>
				<div sec:authorize="isAuthenticated()">
					<h1 th:text="'Welcome, ' + ${name}">Welcome!</h1>
				</div>
			</div>
		</div>
		<div>
			<div th:replace="fragments/navbar :: header">...</div>
		</div>
		<!-- 		<div sec:authorize="isAuthenticated()">
			<p>TEST TEST dupa TEST !!</p>
		</div>
		<div sec:authorize="hasAuthority('ADMIN')">This content is only
			shown to administrators.</div> -->
		<div class="container" id="headertitle">
			<div sec:authorize="!isAuthenticated()">
				<br></br> <br></br>
				<h3>
					Hello, please <a th:href="@{/login}">log in</a> to see content or <a
						th:href="@{/user/registration}">register</a> if you don`t have
					account.
				</h3>
				<!-- <div class="container" th:replace="fragments/carousel :: carousel">...</div> -->
			</div>
			<div sec:authorize="isAuthenticated()">
				<div class="actions ">
					<div class="row">
						<form method="GET" th:action="@{'/user/' + ${name} + '/events'}">
							<button type="submit" class=" subbutton blue">ADD EVENTS</button>
						</form>
					</div>
					<div class="row">
						<form method="GET" th:action="@{'/user/' + ${name} + '/details'}">
							<button type="submit" class=" subbutton blue">ACCOUNT
								DETAILS</button>
						</form>
					</div>
					<div class="row">
						<form method="GET" th:action="@{'/board/addboard'}">
							<button type="submit" class=" subbutton blue">CREATE
								BOARD</button>
						</form>
					</div>
					<div class="row" sec:authorize="hasAuthority('ADMIN')">
						<form method="GET" th:action="@{'/adminpanel'}">
							<button type="submit" class=" subbutton green">ADMIN
								PANEL</button>
						</form>
						<form method="GET" th:action="@{'/console'}">
							<button type="submit" class=" subbutton green">DATABASE
								CONSOLE</button>
						</form>
					</div>
				</div>
			</div>
			<div class="boardframe">
				<h1>Boards:</h1>
				<div th:each="board : ${boards}">
					<form class="col-sm-3" method="GET"
						th:action="@{'/board/' + ${board.name}}">
						<button type="submit" class=" subbutton green"
							th:text="${board.name}"></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>