<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Login</title>
<link rel=" stylesheet" type="text/css" href="/css/login.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>Login</title>
</head>
<body>
	<div>
		<div th:replace="fragments/navbar :: header">...</div>
	</div>
	<div class="logincontainer">
		<div th:if="${param.logout}">You have been logged out.</div>
		<div class="register-form">
			<div class="row" th:if="${param.error}">
				<label class="alert alert-danger alert-dismissable fade in close"
					data-dismiss="alert" aria-label="close">Invalid username or
					password.</label>
			</div>
			<form th:action="@{/login}" method="post">
				<div>
					<div class="inputcontainer">
						<input placeholder="username" type="text" name="username"
							autofocus="" />
					</div>
					<div class="inputcontainer">
						<input placeholder="password" type="password" name="password" />
					</div>
					<div>
						<input id="login_button" class="subbutton red" type="submit"
							value="Sign In" />
					</div>
					<div class="messagecontainer">
						<p>
							Not registered? <a th:href="@{/user/registration}">Create an
								account</a>
						</p>
						<p>
							Take me back to <a th:href="@{/home}">Home</a>
						</p>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="fragments/navbar :: footer">...</div>
</body>
</html>