<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link rel="stylesheet" type="text/css" href="/css/registration.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<title>Registration page</title>
</head>
<body>
	<div th:if="${logged} == false">
		<div th:replace="fragments/navbar :: header">...</div>
	</div>
	<div th:unless="${logged} == false">
		<div th:replace="fragments/navbar :: header_logged">...</div>
	</div>
	<div class="logincontainer">
		<div class="register-form">
			<form th:object="${user}" method="POST">
				<div>
					<label>Registration form</label>
				</div>
				<div class="inputcontainer">
					<p class="row" th:each="error : ${#fields.errors('name')}"
						th:text="${error}">Validation error</p>
					<input type="text" autocomplete="off" value=" "
						placeholder="username" th:field="*{name}" />
				</div>
				<div class="inputcontainer">
					<p class="row" th:each="error : ${#fields.errors('email')}"
						th:text="${error}">Validation error</p>
					<input type="email" autocomplete="off" value=" "
						placeholder="Email" th:field="*{email}" />
				</div>
				<div class="inputcontainer">
					<p class="row" th:each="error : ${#fields.errors('role')}"
						th:text="${error}">Validation error</p>
					<select th:field="*{role}">
						<option th:each="role : ${allRoles}" th:value="${role}"
							th:text="${role}"></option>
					</select>
				</div>
				<div class="inputcontainer">
					<p class="row" th:each="error : ${#fields.errors('password')}"
						th:text="${error}">Validation error</p>
					<input value=" " placeholder="password" type="password"
						th:field="*{password}" />
				</div>
				<div class="inputcontainer">
					<p th:each="error : ${#fields.errors('matchingPassword')}"
						th:text="${error}">Validation error</p>
					<input placeholder="retype password" type="password"
						th:field="*{matchingPassword}" />
				</div>
				<div class="inputcontainer">
					<button type="submit" class="subbutton red">Register</button>
				</div>
				<div class="messagecontainer">
					<p>
						Have account? Click <a th:href="@{/login}">here</a> to log in.
					</p>
				</div>
			</form>
		</div>
	</div>
</body>
</html>