<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="ISO-8859-1"></meta>
<title>tip added</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<div class="jumbotron">
		<div class="container"></div>
	</div >
	<div class="container">
	<h4>You have added tip!!</h4>
	<p>
		Click <a th:href="@{/tips}">here</a> to go back to tips.
	</p>
	</div>
</body>
</html>