<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
	<link rel="stylesheet" type="text/css" href="/css/jumbotron.css" />
<title>Tips</title>
</head>
<body>
	<div class="jumbotron">
		<div class="container">
		</div>
	</div>
	<div th:replace="fragments/navbar :: header">...</div>
	<div class="container">
		<!-- <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	 -->
		<div th:if="${tips != null}">
			<h1>Tips:</h1>
			<div id="gitSection">
				<th:block th:object="${tips}" th:each="item : ${tips}">
					<div class="space">
						<div class="row gitframe">
							<div class="col-sm-12">
								<h4>
									<a class="question" th:text="${item.title}"></a>
								</h4>
								<div class="answer">
									<blockquote th:text="${item.content}" class="git ">
										<p>answer</p>
									</blockquote>
									<p th:text="${item.hint}">hint</p>
								</div>
							</div>
						</div>
					</div>
				</th:block>
			</div>
		</div>
		<p>
			Click <a th:href="@{/addtip}">here</a> to add tip.
		</p>
	</div>
</body>
</html>