<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Upload image</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/navbar.css" />
<link rel="stylesheet" type="text/css" href="/css/jumbotron.css" />
</head>
<body>
<div class="jumbotron">
	<div class="container">
			<h1>Upload user avatar</h1>
		</div>
	</div>
		<div th:replace="fragments/navbar :: header_logged">...</div>
	<div class="container">
		<form method="POST" action="/upload" enctype="multipart/form-data">
		
			<div>
				<img th:src="@{'/avatar/'+ ${username}}" height="120" width="120" />
			</div>
			<input type="file" name="file" /><br />
			<br /> <input type="submit" value="submit" />
		</form>
		<div th:if="${message}">
			<h2 th:text="${message}"> message </h2>
		</div>
	</div>
</body>
</html>