@import 'default';

/*div {
    border-style: solid;
    border-color: gainsboro;
    border-width: 1px;
}*/

label {
    margin-top: 0px;
    padding-top: 35px;
    height: 120px;
    text-align: center;
    vertical-align: middle;
    display: block;
    line-height: 150%;
    font-size: 20px;
}

.username_label {
    margin-top: 0px;
    height: auto;
}

.users_and_events_window {
    margin: 5px;
}

.boardcontainer {
    /*    padding-left: 20px;
    padding-right: 20px;*/
    text-align: center;
}

.dayname-cell {
    text-align: center;
    vertical-align: middle;
    background-color: #27124c;
    color: white;
}

.user-cell {
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: #27124c;
    padding: 5px;
}

today {
    background-color: lightgreen;
}

test {
    background-color: blueviolet;
}

p {
    color: white;
    font-size: 22px;
    margin: 0 0 0;
    font-weight: 500;
    padding: 10px;
}

.teamnamecontainer {
    padding-left: 100px;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #3399FF, #666699);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #3399FF, #666699);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #3399FF, #666699);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #3399FF, #666699);
    /* Standard syntax (must be last) */
    margin-bottom: 0px;
}

.teamnamecontainer p {
    font-size: 50px;
}

.row-small-padding {
    [class*="col-"] {
        padding-left: 2px !important;
        padding-right: 2px !important;
    }
}
