@import 'default';
.userinfo {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 16px;
}

label {
    padding: 5px;
}

.weekevents>label {
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rowname {
    padding-right: 30px;
}

.rowname>label {
    color: #23527c;
}

.statistics_table>tr {
    text-align: center;
}

.titlebar {
    color: white;
    background-color: #003366;
}

.titlebar>label {
    color: white;
    background-color: #003366;
}

.statisticstable {
    width: 100%;
}

.statisticstable tr td {
    text-align: center;
}
