@import 'default';
.userinfo {
    padding-top: 30px;
    font-size: 16px;
}

label {
    padding: 5px;
}

.weekevents>label {
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rowname {
    padding-right: 30px;
}

.rowname>label {
    color: #23527c;
}
